@model IEnumerable<Appointment>
<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Apoointments</title>
    <style>
        body {
        font-family: Arial, sans-serif;
        background: #eef2f3;
        margin: 0;
        padding: 0;
        }

        header {
        background-color: #000000;
        color: white;
        padding: 20px;
        text-align: center;
        }

        .pagination .page-link {
        color: #218838;
        }

        .pagination .page-item.active .page-link {
        background-color: #ffffff;
        color: #218838;
        border-color: #218838;
        }

        .pagination .page-link:hover {
        background-color: #e9ecef;
        color: #218838;
        }
    </style>
</head>
<body>
    <header class="header-booking">
        <h1>Booked Appointments</h1>
    </header>
    @* Filter area *@
    <section class="py-3 filter-bar">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <form action="">
                        <div class="row justify-content-center">
                            <!-- Doctor Name -->
                            <div class="col-md-3">
                                <input type="text" class="form-control" placeholder="Doctor First Name" name="doctorFirstName" value="@ViewBag.doctorFirstName">
                            </div>

                            <!-- Date -->
                            <div class="col-md-2">
                                <div class="mb-3">
                                    <input type="date" class="form-control" id="Date" name="Date" value="@ViewBag.date" />
                                </div>
                                <script>
                                    const dateInput = document.getElementById('Date');

                                    dateInput.addEventListener('input', function () {
                                    const selectedDate = new Date(this.value);
                                    const day = selectedDate.getDay(); //5 = Friday 6 = Saturday

                                    if (day == 5 || day == 6) {
                                    alert("Fridays and Saturdays are not available for appointments.");
                                    this.value = '';
                                    }
                                    });
                                </script>
                            </div>
                            <!-- Filter Button -->
                            <div class="col-md-2">
                                <button type="submit" class="btn btn-dark w-100">Filter</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>


    @if (Model.Count() == 0)
    {
        <div class="row m-5">
            <class class="col-15">
                <div class="display-1 d-flex justify-content-center">No Appointments</div>
            </class>
        </div>
    }
    else
    {
        <div>
        @foreach (var item in Model)
        {
            <div class="container mt-5">
                <div class="card shadow p-4">
                <h3 class="mb-4 text-center text-success">Appointment Details</h3>
                        <div class="row mb-2">
                            <div class="col-md-4 font-weight-bold">Appointment Id:</div>
                            <div class="col-md-8">@item.AppointmentId</div>
                        </div>
                <div class="row mb-2">
                    <div class="col-md-4 font-weight-bold">Doctor:</div>
                    <div class="col-md-8">@(item.Doctor?.FirstName + " " + item.Doctor?.LastName)</div>
                </div>
                <div class="row mb-2">
                    <div class="col-md-4 font-weight-bold">Patient Name:</div>
                    <div class="col-md-8">@item.PatientName</div>
                </div>
                <div class="row mb-2">
                    <div class="col-md-4 font-weight-bold">Date:</div>
                            <div class="col-md-8">@(item.Date?.ToString("dd/MM/yyyy") ?? "No date selected")</div>
                </div>
                <div class="row mb-2">
                    <div class="col-md-4 font-weight-bold">Time:</div>
                    <div class="col-md-8">@item.StartTime</div>
                </div>
                <div class="row mb-2">
                    <div class="col-md-4 font-weight-bold">Patient Phone Number:</div>
                    <div class="col-md-8">@item.PatientPhone</div>
                </div>
                <div class="row mb-2">
                    <div class="col-md-4 font-weight-bold">Patient Email:</div>
                    <div class="col-md-8">@item.PatientEmail</div>
                </div>
                        <form asp-action="DeleteAppointment" asp-controller="Home" method="post" class=" align-self-end" onsubmit="return confirm('Are you sure you want to delete this appointment?');">
                            <input type="hidden" name="id" value="@item.AppointmentId" />
                            <button type="submit" class="btn btn-danger mt-3 ">Delete Appointment</button>
                        </form>

            </div>
        </div>
        }
        </div>
        @if (ViewBag.totalNumberOfPages > 1)
        {
            <div class="row my-3">
                <div class="col-12 d-flex justify-content-center">
                    <nav aria-label="Page navigation">
                        <ul class="pagination">
                            @if (ViewBag.currentPage != 1)
                            {
                                <li class="page-item">
                                    <a class="page-link" href="@Url.Action("Booked", "Home", new {
                                page = ViewBag.currentPage - 1,
                                phone = ViewBag.phone,
                                doctorFirstName = ViewBag.doctorFirstName,
                                date = ViewBag.date
                            })">Previous</a>
                                </li>
                            }
                            @for (int i = 1; i <= ViewBag.totalNumberOfPages; i++)
                            {
                                var activeClass = (i == ViewBag.currentPage) ? "active" : "";
                                <li class="page-item @activeClass">
                                    <a class="page-link" href="@Url.Action("Booked", "Home", new {
                                page = i,
                                phone = ViewBag.phone,
                                doctorFirstName = ViewBag.doctorFirstName,
                                date = ViewBag.date
                                })">@i</a>
                                </li>
                            }
                            @if (ViewBag.totalNumberOfPages != ViewBag.currentPage)
                            {
                                <li class="page-item">
                                    <a class="page-link" href="@Url.Action("Booked", "Home", new {
                                page = ViewBag.currentPage + 1,
                                phone = ViewBag.phone,
                                doctorFirstName = ViewBag.doctorFirstName,
                                date = ViewBag.date
                                })">Next</a>
                                </li>
                            }

                        </ul>
                    </nav>
                </div>
            </div>
        }
    }
</body>
</html>